<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'src/css/mainsite/find_pwd.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'src/css/layui.css' %}">
      <script src="{% static 'src/layui.js' %}"></script>
<body>
<div class="pwd_box">
    <header class="layui-logo">找回密码</header>
<div class="layui-form layui-form-pane">
    <div class="layui-form-item">
    <label class="layui-form-label layui-icon layui-icon-cellphone"></label>
     <div class="layui-input-inline">
         <input type="text" name="email" id="email" lay-verify="email" required placeholder="邮箱" class="layui-input">
     </div>
   </div>
</div>
     <p><a href="{% url 'mainsite:login' %}" class="fl">登录</a><a href="{% url 'mainsite:register' %}" class="fr">立即注册</a></p>
    <div style="margin-top:40px">
    <button class="layui-btn layui-btn-radius layui-bg-normal" id="confirm" data-method="confirm_">确定</button>
     <button class="layui-btn layui-btn-radius layui-btn-primary" id="cancel" data-method="cancel_">取消</button>
        </div>
</div>
</body>
<script>
    layui.use(['layer','form'],function(){
      var layer = layui.layer;
      var $ = layui.jquery;
      var active = {
        confirm_:function(){
         var url_verification = '/user_api/verification_email_api/';
         var data_send_email = {
                    'email':$("#email").val(),
                    'function':'find_password',
                    };
         var email = $("#email").val();
         var confirm_tips = '一旦确定，旧密码将会失效,临时密码将会发送到您的邮箱!<br><br>注意!保管好自己的临时密码,有效期1小时';
           var reg = new RegExp("^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"); //正则表达式
           var email = $("#user_id").val();
         if(email == ''){
           parent.layer.msg('请填写邮箱号',{icon:3,time:1000,closeBtn:0,offset:'t'});
           }
      else if(!reg.test(email)){
       layer.msg('邮箱格式不正确');
      }
         else{
          parent.layer.confirm(confirm_tips,{icon:3,title:'提示'},function(index){
          $.ajax({
           url: url_verification,
           type: 'POST',
           data: data_send_email,
           success:function(result){
              if(result.status == 'success' && result.code == 200){
                layer.msg('临时密码发送成功，请去邮件查收!');
                }
              else if(result.status == 'error' && result.code ==0){
                layer.msg('邮箱不正确',{icon:5,time:1000,closeBtn:0,offset:'t'});
               }
              else if(result.status == 'error' && result.code == 500){
                layer.msg('发送邮件失败');
                }
             },
           error:function(){
              layer.msg('服务器无响应',{icon:5,time:1000,closeBtn:0,offset:'t'});
              }
           });
          });
         }
      },
         cancel_:function(){
          var index = parent.layer.getFrameIndex(window.name);
          parent.layer.close(index);
       }
    };  //active over

    $(".layui-btn").click(function(){
       var othis = $(this);
       method = othis.data('method');
       active[method] ? active[method].call(this,othis) : '';
       });

      });  //layui.use over
</script>
</html>