
/* First styling the menu */
#menu {
	list-style: none;
	padding: 0 12px; margin: 0;
	background: #a0d0dd4f;
	margin: 100px;
	display: inline-block;
	height: 50px;
	overflow: hidden;
	border-radius: 5px;
	
	/* 3d effect using box-shadows */
	box-shadow: 0px 4px #a1d2df, 0px 4px 6px rgba(0, 0, 0, 0.3)
}

/* Now the list items */
#menu li {
	margin-left: 10px;
	display: inline-block;
	position: relative;
	bottom: -11px;
}

#menu li:first-child {margin: 0}

/* The real fun begins here :D */
#menu li a {
	background: #a1d0dd;
	display: block;
	border-radius: 5px;
	padding: 0 12px;
	color: #6c322f;
	position: relative;
	text-decoration: none;
	height: 27px;
	font: 12px / 27px "PT Sans", Arial, sans-serif;
	/* Now the 3d effect */
	box-shadow: 0px 3px #7fafbc, 0px 4px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease;
}

/* Basic design is ready, now let's make it animate when hovered or clicked */
/* For this, we'll use transition property */

#menu li a:hover {background: #bae0ea}
#menu li a:active {
	background: #bae0ea;
	/* Now, let's make it look like its pressed down when clicked */
	bottom: -3px;
	box-shadow: 0px 0px #7fafbc, 0px 1px 3px rgba(0, 0, 0, 0.3);
}