.icon_weixin{
color:green;
font-size:35px;
border-style:none;
background:#fff;
padding:10px;
}

.icon_qq{
color:#9b332e;
font-size:35px;
border-style:none;
background:#fff;
padding:10px;
}


.verify_off{
width: 70px;
height: 25px;
padding: 0 5px;
margin: 0;
font-size: 12px;
text-align: center;
background:transparent;
border-radius: 30px ! important;
color:#a07941;
border-color:#a07941;
}

.verify_ing{
cursor:not-allowed;
opacity:0.5;
}

.verify_input{
left:-1px;
float:left;
width:140px;
}